@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 70%;
  max-width: 550px;
  color: #ebd7d7;
  font-size: 5.2rem;
  font-weight: 100;
  letter-spacing: -5px;
}

.new__todo {
  width: 100%;
  padding: 16px 16px 16px 60px;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 100;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.new__todo::placeholder {
  color: #dddddd;
  font-style: italic;
}

.main {
  position: relative;
  width: 70%;
}

.todo__toggle__all {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  border: none;
  right: 100%;
  bottom: 100%;
}

.todo__toggle__all + label {
  width: 60px;
  height: 34px;
  position: absolute;
  color: #e6e6e6;
  top: -48px;
  left: -10px;
  transform: rotate(90deg);
}

.todo__toggle__all + label::before {
  content: "â¯";
  font-size: 1.3rem;

  padding: 10px 27px;
}

.todo__toggle__all:checked {
  content: "";
  background-image: none;
}

.todo__list {
  margin-top: 2px;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5px 0;
  min-height: 50px;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.todo__item__box {
  display: flex;
  align-items: center;
}

.todo__toggle {
  margin: 0 16px 0 8px;
}

.todo__destroy {
  margin-right: 8px;
  padding: 0px 6px;
  color: #cc9a9a;
  font-size: 1rem;
  font-weight: 500;
}

.todo__destroy:hover {
  color: #af5b5e;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 10px 12px;
  background-color: #fff;
  color: #777777;
  font-size: 0.8rem;
  font-weight: 100;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.todo__filter {
  display: flex;
}

.todo__filter > li {
  margin: 0px 4px;
  padding: 1px 6px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.todo__filter__selected {
  border: 1px solid rgba(175, 47, 47, 0.2) !important;
}
